[user]
	name = Steven Roose
	email = steven@stevenroose.org
[core]
	editor = nvim
	excludesfile = ~/.gitignore-global
[color]
	ui = true
[url "git@github.com:san-lab/"]
	insteadOf = https://github.com/san-lab/
[pull]
	rebase = true
