[user]
	name = Steven Roose
	email = steven@stevenroose.org
[core]
	editor = nvim
	excludesfile = ~/.gitignore-global
[color]
	ui = true
[pull]
	rebase = true
[url "ssh://github.com/"]
	pushInsteadOf = https://github.com/
